@import url(./menu.css);

/*Fonction active lorqu'on clique sur un menu*/
aside .aside-nav ul a.active{
    background-color: #a01900;
    color: var(--yellow-color);
}
.premiere-section aside{
    width: 20%;
}
.image-presentation img{
    width: 880px;
    height: 300px;
    border-radius: 20px;
}
.img-menu{
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    gap: 0;
}
.img-menu figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
}
.img-menu figure figcaption p{
    font-family: "Kavoon", serif;
    font-weight: 200;
}
.img-menu figure img{
    width: 80%;
    height: 80%;
    transition: .3s ease-in-out;
}
.img-menu figure img:hover{
    transform: scale(1.1) ;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.section-menu-burger{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.section-menu-burger h2{
    font-family: 'Pecita', sans-serif;
    font-size: 3rem;
}
/*Popup pour l'Ajout au panier*/
#popupAjoutPanier.hidden {
    display: none;
}
#popupAjoutPanier h4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--orange-color);
    margin-bottom: 10px;
}
#popupAjoutPanier h4 img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
#popupAjoutPanier p{
    font-family: "Kavoon", serif;
    font-size: 2.6rem;
    text-align: center;
}

#popupAjoutPanier {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 65%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    border: #DCDCDC solid 1px;
    border-radius: 10px;
    padding: 20px;
}
#popupAjoutPanier img{
    width: 200px;
}
#popupAjoutPanier button{
    margin-top: 20px;
    padding: 15px 40px;
    background-color: var(--orange-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    font: 1.5rem 'Montserrat', sans-serif;
    cursor: pointer;
    transition: ease-in-out .3s ;
}
.close {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--orange-color);
}


/*Ecran de moins de 768px*/
@media screen and (max-width: 768px){
    .img-menu{
        margin: 20px auto;
        grid-template-columns: 45% 45%;
        gap: 10px;
        justify-content: flex-start;
    }
    .img-menu figure{
        width: 120px;
        height: 120px;
    }
    .img-menu figure img{
        width: 90px;
        height: 80px;
    }
    .img-menu figure figcaption p{
        font-size: 1.3rem;
    }
    .image-presentation img{
        width: 310px;
        height: 250px;
    }
    .section-menu-burger{
        display: none;
    }
    /*Popup pour l'Ajout au panier*/
    #popupAjoutPanier{
        width: 100%;
        height: 100%;
        gap: 20px;
    }
    #popupAjoutPanier img{
        width: 180px;
    }
    .close{
        right: 10%;
        top: 5%;
        font-size: 3.5rem;
    }
      
}