@import url(./menu.css);

/*Fonction active lorqu'on clique sur un menu*/
aside .aside-nav ul a.active{
    background-color: #a01900;
    color: var(--yellow-color);
}
.premiere-section aside{
    width: 20%;
}
.image-presentation img{
    width: 880px;
    height: 300px;
    border-radius: 20px;
}
.img-menu{
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    gap: 0%;
}
.img-menu figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
}
.img-menu figure figcaption p{
    font-family: "Kavoon", serif;
    font-weight: 200;
}
.img-menu figure img{
    width: 80%;
    height: 80%;
    transition: .3s ease-in-out;
}
.img-menu figure img:hover{
    transform: scale(1.1) ;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.section-menu-burger{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.section-menu-burger h2{
    font-family: 'Pecita', sans-serif;
    font-size: 3rem;
}

/*Ecran de moins de 768px*/
@media screen and (max-width: 768px){
    .img-menu{
        margin: 20px auto;
        grid-template-columns: 40% 40%;
        gap: 30px;
        justify-content: flex-start;
    }
    .img-menu figure{
        width: 100px;
        height: 100px;
    }
    .img-menu figure figcaption p{
        font-size: 1.2rem;
    }
    .image-presentation img{
        width: 310px;
        height: 250px;
    }
    .section-menu-burger{
        display: none;
    }
      
}