@import url(./style.css);

/*Aside*/
.premiere-section{
    display: flex;
}
.premiere-section aside{
    width: 30%;
    background-color: var(--orange-color);

}

.premiere-section aside h2{
    font-family: 'Pecita', sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    background-color: #a01900;
    color: var(--white-color);
    margin-bottom: 30px;
    text-align: center;
}
.premiere-section aside .aside-nav{
    margin-left: 12%;
}
.premiere-section aside .aside-nav ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
aside .aside-nav ul a{
    color: var(--white-color);
    transition: ease-in-out .3s ;
}
aside .aside-nav ul a:hover{
    color: var(--yellow-color);
    transition: ease-in-out .3s ;
}

.description-menu h1{
    font-family: 'Pecita', sans-serif;
    font-size: 3.5rem;
}
.corps-menu{
    margin-left: 10%;
}
.img-menu{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    gap: 10%;
}
.img-menu figure{
    width: 200px;
    height: 200px;
    margin-top: 25px;
}
.img-menu figure p{
    text-align: center;
}
.img-menu figure img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/*Deuxième section*/
.section-plat{
    margin-top: 150px;
    margin-bottom: 30px;
    display: flex;
    gap: 50px;
}
.section-plat figure{
    width: 500px;
    height: 300px;
}
.section-plat figure img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid transparent;
    box-shadow: 5px -5px 0 0 var(--orange-color);
}
.description-plat{
    width: 30%;
}
.description-plat h2{
    font-family: 'Pecita', sans-serif;
    font-size: 3.5rem;
}
/*L'aside pour les mobiles*/
.nav-aside-mobile{
    display: none;
}

/*Ecran de moins de 768px*/
@media screen and (max-width: 768px){
    .premiere-section aside{
        display: none;
        
    }
    .corps-menu{
        margin-top: 5%;
        width: 100%;
    }
    .img-menu{
        grid-template-columns: 40% 40%;
    }
    .img-menu figure{
        width: 150px;
        height: 150px;
        margin-top: 10px;
    }
    .section-plat{
        flex-direction: column;
    }
    .section-plat figure{
        width: 300px;
        height: 200px;
        order: 2;
    }
    .description-plat{
        width: 100%;
    }
    
    /*L'aside pour les mobiles*/
    .nav-aside-mobile{
        width: 100%;
        padding: 10%;
        display: block;
        background-color: #F2F2F2;
    }
    .nav-aside-mobile .aside-mobile h3{
        font-family: 'Pecita', sans-serif;
        font-size: 3rem;
    }
    .nav-aside-mobile .aside-mobile ul li{
        margin-top: 20px;
        
    }
}